# Please put language-specific ignore patterns
# in a .gitignore file inside the root folder
# of that language. See Scala/.gitignore for
# an example. Thanks.
/C#/Trivia/Trivia.Core/bin/Debug
/C#/Trivia/Trivia.Core/obj/Debug
/C#/Trivia/packages
/C#/Trivia/Trivia.Tests/bin/Debug
/C#/Trivia/Trivia.Tests/obj/Debug
/C#/Trivia/Trivia.sln.DotSettings.user
